.Footer
    {
    left: 0px;
    bottom: 5px;
    position: absolute;
    font-size: 8pt;
    color: #2a0000;
    }

.DataLabel
    {
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    }

.MyButton
    {
    cursor: pointer;
    font-size: 14px;
	color: #000000;
	padding: 2px 8px;
	background: -moz-linear-gradient(top, #ededed 0%, #ff3333);
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ff3333));
	border-radius: 6px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 2px solid #8d8f8c;
}

.MyButton:hover
    {
	background: -moz-linear-gradient(top, #ff3333, #ededed 0%);
	background: -webkit-gradient(linear, left top, left bottom, from(#ff3333), to(#ededed));
    }

.Instructions
    {
    font-size: .75em;
    font-style: italic;
    }

.DataDisplay td
    {
    vertical-align: top;
    }

.GamerNoTourney
    {
    
    }

.GamerTourney
    {

    }
